.container-main {  
  display: flex;  
  justify-content: center;  
  position: relative; 
  padding-top: 300px;
}
.division-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0px 0px 1rem 1rem;
}
.division-container > div > img {
  width: 120px;
  height: 100px;
  padding-top: 20px;
}
.division-container > div > p {
  font-size: .8rem;
}
.selected {
  border-left: 4px solid rgb(242, 135, 29);
  border-radius: 10px;
  box-shadow: 1px 1px 4px;  
  min-height: 80px;
  display: flex;
  justify-content: flex-end;
  margin: 0px;
  padding: 0px;
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  width: 100vw;
  margin: 0 1rem 
}
table {  
  background-color: white;
  padding: 5px;  
  width: 100%;  
}
caption {
  font-size: 3rem;
}

td {
  border: 1px solid rgb(5, 5, 5);
  width: 25%;
  padding: 5px;  
}
th {  
  background-color: rgb(64, 65, 65);
  color: white;
  padding: 5px;
  font-size: 1.5rem; 
}
.rec {
  background-color: rgb(230, 233, 233);
  color: rgb(64, 65, 65);
  padding: 5px;
}
.trash {
  font-size: 1.5rem;
  padding-top: 10px;
}
.trash:hover {
  color: rgb(242, 135, 29);
}

