.main-container {
  background-image: url('../assets/hockey-bg-main.jpeg');
  background-repeat: no-repeat;
  background-size: cover; 
  
}
.home-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  font-size: 4vw;  
  margin: 0px 0px 0px 80px;  
}
.home-title > div {
  margin-top: 300px;
}

@media (max-width: 1000px) {
  .main-container {
    background-size: contain;
    background-repeat:no-repeat;    
  }
  .home-title {
    margin-left: 20px;
  }
  .home-title > div {
    margin: 45% 0 0 0;    
    font-size: 7vw;
  }
  .img-main {
    background-color: black;
    padding: 0px;
  }
}

@media (max-width: 700px) {
  .main-container {
    background-size: contain;
    background-repeat:no-repeat;    
  }
  .home-title {
    margin-left: 20px;
  }
  .home-title > div {
    margin: 45% 0 0 0;    
    font-size: 7vw;
  }
  .img-main {
    background-color: black;
    padding: 0px;
  }
}