.entry-form {
  padding: 10px;
  display: flex;  
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
}
.entry-form > select {
  border: none;
  color: rgb(242, 135, 29);
  font-family: 'Goldman', cursive;
  font-size: 1.2rem;
}

.entry-form > input {
  font-size: 1rem;
}

.entry-form > input {  
  width: 200px;
  margin-right: 5px;
}

.entry-form > button {
  border: none;
  border-radius: 6px;
  font-family: 'Goldman', cursive;
  font-size: 1.2rem;
  color: rgb(3, 3, 3);
  /* background-color: rgb(64, 65, 65); */
  border: 2px solid rgb(242, 135, 29);
  padding: 10px;  
  transition: .5s ease;
}

.entry-form > button:hover {
  /* background-color: rgb(94, 94, 94); */
  background-color: rgb(242, 135, 29);
  cursor: pointer;  
}
