.img-main {
  width: 100%;  
  padding: 300px 0px 100px 0px;  
}
.img-container {
  display: flex; 
  padding: 2rem;
  justify-content: space-between;
  gap: 2rem;      
}
.img-container > a > div {  
  position: relative;
  transition: all .5s; 
  display: flex;
  justify-content: center; 
  align-items: center;   
}
.img-container > a > div:hover {
  filter: brightness(150%);
  cursor: pointer; 
  transform: scale(1.05); 
}
.img-container > a > div > img {  
  width: 100%;
  border-radius: 15px;  
  filter: brightness(60%); 
}
.img-container >a > div > div {  
  position: absolute; 
  color: white; 
  font-size: 3vw;  
  text-align: center;
}
.img-container > a > div > p {  
  position: absolute;
  color: white; 
  font-size: 1vw;
  text-align: center; 
  align-self: flex-end; 
}

@media (max-width: 1000px) {
  .img-container {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
  .img-container > div > div {
    font-size: 10vw;
  }
  .img-container > div > p {
    font-size: 4vw;
    padding: 5px;
  } 
}

@media (max-width: 700px) {
  .img-container {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
  .img-container > div > div {
    font-size: 10vw;
  }
  .img-container > div > p {
    font-size: 4vw;
    padding: 5px;
  }  
}