.img-main {
  width: 100%;  
  padding: 500px 0px 100px 0px;  
}
.img-container {
  display: flex; 
  padding: 2rem;
  justify-content: space-between;
  gap: 2rem;      
}
.img-container > div {
  display: flex;
  justify-content: center;  
  position: relative;
  transition: all .5s;  
}
.img-container > div:hover {
  filter: brightness(150%);
  cursor: pointer; 
  transform: scale(1.05); 
}
.img-container > div > img {  
  width: 100%;
  border-radius: 15px;  
  filter: brightness(60%); 
}
.img-container > div > div {
  position: absolute;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 5rem;     
}
.img-container > div > p {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  font-size: 1.5rem;
  width: contain;
}