.main-nav {  
  position: fixed; 
  z-index: 1;
  width: 100%;  
  top: 0;  
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items:center;  
  background-color: rgba(0, 0, 0, 0.802); 
  margin: 0px;
  /* min-width: 80vw; */
  height: 150px;     
}
.navigation > li {    
  color: white;
  font-size: 1.7vw;  
  padding: 1vw;
  transition: color 0.2s ease;
  list-style: none;   
}
.navigation > li > a {
  color: white;
  text-decoration: none;  
}
.navigation > li:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.372);
}
.navigation > li > a:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.372);
}
.hockey-logo {
  padding-top: 30px;
  width: 9vw;  
}
.hockey-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: .7s ease; 
}

@media (max-width: 500px) {  
  .navigation > li {
    /* display: none; */
    
  }
  .hockey-logo { 
    position: absolute;
    top: 0;
    padding: 0;
    right: 30%; 
    width: 35vw;   
  }
  .toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
  }
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  .navbar-links {
    /* display: none; */
    width: 100%;
  }
  .navigation {
    flex-direction: column;    
    align-items: flex-start;    
    width: 100%;    
  }
  .navigation > li {
    font-size: 1rem;
    display: none;
    /* text-align: center; */
  }
  .navbar-links > li.active {
    display: flex;
  }
  .navigation > li > a.active {
    display: flex;
  }
  
}
