.main-nav {  
  position: fixed; 
  z-index: 1;
  width: 100%;  
  top: 0;  
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items:center;  
  background-color: rgba(0, 0, 0, 0.802); 
  margin: 0px;
  /* min-width: 80vw; */
  height: 150px;     
}
.navigation > li {    
  color: white;
  font-size: 1.7vw;  
  padding: 1vw;
  transition: color 0.2s ease;
  list-style: none;   
}
.navigation > li > a {
  color: white;
  text-decoration: none;  
}
.navigation > li:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.372);
}
.navigation > li > a:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.372);
}
.logo-container {
  display: flex;
  justify-content: center;
}
.hockey-logo {
  position: absolute;
  left: 45%;  
  width: 12vw;
  height: 17vh;  
}
.hockey-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: .7s ease; 
}

@media (max-width: 500px) { 
  
  .hockey-logo { 
    position: absolute;
    top: 0;
    padding: 5px;
    left: 0;
    right: 60%; 
    width: 35vw;   
  }
  .toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
  }
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  .navigation {
    display: none;
    flex-direction: column;
    justify-content: center;       
    align-items: flex-end;    
    padding: 50px 20px 0px 0px;
  }
  .navigation > li {
    font-size: 1rem;
  }  
  .navigation.active {
    display: flex;   
  } 
}
