.main-nav {  
  position: fixed; 
  z-index: 1;
  width: 100%;  
  top: 0;  
}
.navigation {
  display: flex;
  justify-content: space-around;
  align-items:center;  
  margin: 0px;  
  height: 150px;     
  background-color: rgba(0, 0, 0, 0.802); 
}
.navigation > ul {
  padding: 0px;
}
.navigation > li {    
  color: white;
  font-size: 2rem;  
  padding: 1vw;
  transition: color 0.2s ease;
  list-style: none;   
}
.navigation > li > a {
  color: white;
  text-decoration: none;  
}
.navigation > li:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.372);
}
.navigation > li > a:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.372);
}
.hockey-logo {  
  width: auto;
  height: 17vh;  
}
.hockey-logo:hover {
  transform: scale(1.1);
  cursor: pointer;
  transition: .7s ease; 
}

@media (max-width: 1000px) {
  .navigation > li {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {   
  .hockey-logo { 
    position: absolute;
    top: 0;
    padding: 5px;
    left: 0;
    right: 60%; 
    width: 25vw;
    height: auto;  
  }  
  .toggle-button {
    position: absolute;
    top: 1.75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.802);
    border: 1px solid white;
    padding: 20px;    
  }
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 6rem 1rem 0 0;
    background-color: rgba(0, 0, 0, 0);    
  }
  .navigation > li {
    font-size: 1rem;
    display: none;    
  }
  
  .navigation > li.active {
    display: flex;     
  }
  .navigation.active {
    background-color: rgba(0, 0, 0, 0.802);    
  } 
}
